body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightgray;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 10px;
    padding-bottom: 10px;
    /*padding-left: 15px;
    padding-right: 15px;*/
    background-color: white;
    border-radius: 0 0 6px 6px;
    box-shadow: 0px 0px 8px 5px darkgray;
}

.body-footer {
    padding-top: 15px;
}

/* Remove IE Selection Border */
textarea, 
input, 
a, 
a:hover, 
a:active, 
a:focus 
{ 
    outline: 0px!important; 
} 


/*Fix Issues with bootstrap and Sunlight for code snippets*/
pre {
    padding: 0;
    border: none;
    background-color: white;
}

.sunlight-code-container {
    padding: 4px;
    border-radius: 3px;
}

/*Correction for jReject popup background color */
#jr_inner {
    background-color: #F5F5F5;
}

/*Correction for custom google search*/
.gsc-control-cse {
    width: 245px !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    background-color: transparent !important;
    border: none !important;
}
    
section {
    padding-top:50px;
    margin-top:-50px;
}