# Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
UpgradeLog*
_UpgradeReport*/

#Tooling
_ReSharper*/
*.resharper.user
[Tt]est[Rr]esult*

#OS junk files
Thumbs.db
*.DS_StoreA

# VIM
*.swp
/packages
/.vs

.vscode
.DS_Store

.idea/
